* {
	font-family: arial;
	box-sizing: border-box;
}

html,body {
	height:100%;
	margin: 0;
	padding: 0;
}

.voltage {
	width: 100%;
	display: inline-block;
}

.current {
	display: inline-block;
	margin-top: 10px;
}

.status-div {
	width: 12.5%;
	height: calc(33.333% - 4px);
	display: inline-block;
	text-align: center;
	margin: 0;
	overflow: hidden;
}

.test-status {
	margin-top: 20px;
	width: 100%;
	display: inline-block;
}

.led-status-0 {
	background-color: white;
}

.led-status-1 {
	background-color: white;
}

.led-status-2 {
	background-color: white;
}

.led-status-3 {
	background-color: #ED4337;
}

.led-status-4 {
	background-color: #C0D890;
}

.led-status-5 {
	animation: led-5 2s infinite;
	animation-direction: alternate;
}

@keyframes led-5 {
	from {
		background-color: #D9E9FF;
	}
	to {
		background-color: #99B1D1;
	}
}
